#chart-box {
  display: grid;

  grid-template-columns: 
    [legend-left chart-left controls-left] 1fr [legend-right chart-right controls-right];
  grid-template-rows: 
    [chart-top] 1fr 
    [chart-bottom controls-top] 5em 
    [controls-bottom legend-top] 1fr
    [legend-bottom];

  align-items: center;
  grid-gap: 0.5em;
  padding: 0.5em;
}

#legend {
  grid-column: legend-left / legend-right;
  grid-row: legend-top / legend-bottom;
  column-count: 3;
}

#chart {
  grid-column: chart-left / chart-right;
  grid-row: chart-top / chart-bottom;
  align-self: stretch;
}

#controls {
  grid-column: controls-left / controls-right;
  grid-row: controls-top / controls-bottom;
  text-align: center;
}

#controls > * {
  margin: 0.5em;
}


button.artist {
  display: block;
}